<div class="landing container">
<div class="introtext">
    <h1 class="text-primary display-3 text-center texty">Intro text</h1>
    <div class="display-4 redd">Seriously Fun Fitness</div>
    <br>
    <br>
    <div class="display-5">With a heritage that traces back to the glory days of Muscle Beach in Los Angeles, CA, we’ve been keeping people fit and changing lives for over 40 years. Our experience runs deep. We know the difference between cheap fads and time-proven techniques. We’ve learned the best ways to get your hearts pounding and your adrenaline pumping. We make sure all of our gyms have all the tools you need to perform your best.</div>
    <div class="display-4 redd">Change Your Life With Fitness</div>
    <br>
    <br>
    <div class="display-5">Sometimes, no matter how important your goals are to you, it's a struggle to bring your best effort to your gym session (or work up the motivation to make it happen at all). But whether you're trying to lose weight, train for a race, keep your stress in check, or any of the other worthwhile reasons to make fitness a part of your life, staying consistent is key, even when you really, really, really don't feel like it. When you're struggling to remember why it's worth all the effort, these 14 fitness quotes will give you the push you need. Consider these gems of fitness inspiration the antidote to your temporarily unenthusiastic fitness 'tude—or save them for any time you need a little extra boost to get you moving, mind, body, and soul.</div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="display-4 redd">Your Body Will Not Change If You Dont Believe in Yourself</div>
            <br>

                <div class="display-5">Lacking motivation to get back into the gym? Back in the gym already but feel stagnated? Or maybe you’re just looking for new inspiration for a the new year. Whatever your situation, reading words of wisdom from successful people can be super-inspiring.

                    With that in mind, here are  20 amazing  motivational quotes from notable figures to help you kick start your new year — and your fitness goals.
                    
                    Some are from sports people, some entrepreneurs, world leaders and famous thinkers, but in each of these quotes is something to inspire you in your fitness pursuits.</div>
                    <br>
                    <img src="./../../assets/images/back.jpg" height ="300" width="400px">
                </div>
        
        <div class="col-md-12 col-lg-6">
            <div class="display-4 redd">Join Today and Be The Change</div>
            <br>
            <br>
            
                <div class="display-5">Sometimes, no matter how important your goals are to you, it's a struggle to bring your best effort to your gym session (or work up the motivation to make it happen at all). But whether you're trying to lose weight, train for a race, keep your stress in check, or any of the other worthwhile reasons to make fitness a part of your life, staying consistent is key, even when you really, really, really don't feel like it. When you're struggling to remember why it's worth all the effort, these 14 fitness quotes will give you the push you need. Consider these gems of fitness inspiration the antidote to your temporarily unenthusiastic fitness 'tude—or save them for any time you need a little extra boost to get you moving, mind, body, and soul. </div>
                <br>
                <img src="./../../assets/images/back1.jpg" height ="300" width="400px">
        </div>
        <br>
        
        <br>
        <div class="col-lg-6">
            <div class="display-4 redd text-center">Join Today Be a Part  </div>
            <br>
        <img src="./../../assets/images/back3.jpg" >
    </div>
    <div class="col-lg-6 redd">
        <br>
        <br>
        <br>
        <div class="display-3 text-center">GYM FOR FITNESS</div>
    </div>
        <br>
        <br>
</div>

<div>
    <div class="display-4 redd text-center ">Apply For Trainer</div>
    <br>
    <br>
    <br>
    <button (click)="navpage()" id="xl" class="btn btn-primary btn-block p-5 btn-lg  ">Apply For Trainer</button>
</div>
</div>